.welcome-container {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
@media (max-width: 480px) {
  .welcome-container {
    align-items: flex-start;
    padding-top: 0.2rem;
  }
}